<html xmlns:th="http://www.thymeleaf.org">

<header>
    <title>test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>
<body>
<div class="modal fade" id="myModal"  tabindex="-1" role="dialog"  aria-hidden="true">

</div>
    <table class="table table-striped table-hover bg-white">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Возраст</th>
        <th>Цвет ногтей</th>
        <th>Login</th>
        <th>Роли</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody id="userTBody">

    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var row = "";
        $(document).ready(function() {
               $.ajax({
                    url: "rest/all",
                   type: "GET",
                   success: function(data) {
                       /* $('.greeting-id').append(data.);
                        $('.greeting-content').append(data.content);*/
                       data.forEach(s => {
                           var roles = "";
                           s.roles.forEach(r => roles += r.name + " ");
                           row += `<tr>
                                    <td>${s.id}</td>
                                    <td>${s.name}</td>
                                    <td>${s.age}</td>
                                    <td>${s.nailsColor}</td>
                                    <td>${s.login}</td>
                                    <td>
                                        <span> ${roles} </span>
                                    </td>
                                    <td>
                                      <!--модальное окно EDIT начало-->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-user-edit onclick="btnClick('${s.id}')"  data-target="#myModal">
                            Edit
                        </button>
                                    </td>
                                </tr>`;
                           $("#userTBody").html(row);
                       });


                   }
                })
        });

        function btnClick(userId)
        {
            var id = $(this).data("userId");
            var url = "/EditUser";
            $.ajax({
                url: url,
                data: {userId:userId},
                type: "GET",
                success: function(content)
                {
                    $("#myModal").html(content);
                    $("#myModal").attr("data-user-id", userId);

                }
            });
        }

      /*  $("[data-user-edit]").click(function () {
            console.log("asdfaa");

        });*/

    </script>
</body>
</html>